@charset "UTF-8";

.book-modal-dialog {
    max-width: none!important;
    margin: 0 20%!important;
}

.book_table th {
    min-width: 200px;
}

.bookModalSpan {
	cursor: pointer;
	color: #007bff;
	text-decoration: underline;
}

.bookModalSpan:hover {
    text-decoration: none;
}

.frontpage:hover {
	cursor: pointer;
}

.frontpage-mini {
	display: block;
	max-height: 200px;
	max-width: 180px;
	height: auto;
	width: auto;
}

.greenCheck {
	height: 32px;
	position: absolute;
	bottom: 0;
	margin: 20px 5px;
}

.book_title {
	color: #1b7ee7 !important;
	font-weight: 600 !important;
}

.tooltip {
	z-index: 1039 !important;
}
