@charset "UTF-8";

.book-modal-dialog {
    max-width: none!important;
    margin: 0 20%!important;
}

.book_table th {
    min-width: 200px;
}

.bookModalSpan {
	cursor: pointer;
	color: #007bff;
	text-decoration: underline;
}

.bookModalSpan:hover {
    color: #0056b3;
    text-decoration: none;
}
