@charset "UTF-8";

/* basic layout style */
html {
    min-height: 100%;
    position: relative;
}

body {
    background: radial-gradient(#ebebeb, #c5c5c5, #a0a0a0);
	background-size: cover;
	background-attachment: fixed;
}

.main-container {
	background-color: white;
	width: 85%;   /* If changed then other margins have to change as well (!) : currently: 85% */
    min-height: 96.6vh;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 30px 96px 30px;
}

#footer {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    bottom: 28px;
    margin-top: 20px;
}

.simpler_link {
    text-decoration: none !important;
}

.simpler_link:hover {
    text-decoration: none !important;
    color: rgb(231, 150, 0);
    cursor: pointer;
}

/* headlines.php style */
#logo {
    float: left;
    max-height: 225px;
    max-width: 187px;
    margin-right: 20px;
} 

#title {
    display: inline-block;
    font-size: 225%;
    margin-top: 15px;
    word-wrap: break-word;  /* <-- Doesn't work? TODO: make responsive */
}

#slogan {
    float: left;
}

#login_register_div {
    float: right;
    margin: 10px;
    font-size: 125%;
}

#global_search_div {
    display: inline-block;
    float: right;
    clear: both;
    margin-bottom: 10px;
}

#global_search_form {
    display: inline-block;
}

#global_help {
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 5px;
    height: 25;
    width: 25;
    cursor: pointer;
}

/* Breadcrump */
.my_breadcrump {
    margin: 20px 0px 20px 0px;
    font-size: 110%;
    font-weight: 600;
}

a.breadcrump_item, p.breadcrump_item {
    color: #343a40;
}

a.breadcrump_item {
    text-decoration: none;
}

p.breadcrump_item {
    color: grey;
}

a:hover.breadcrump_item {
    color: rgb(231, 150, 0);
    cursor: pointer;
    text-decoration: none;
}

.breadcrump_item  {
    display: inline-block;
    margin: 0px 5px 0px 5px;
}

.last_item {
    color: #6fafe3 !important;
}

.last_item:hover {
    color: rgb(231, 150, 0) !important;
}

/* general */
.image_button {
    cursor: pointer;
}

.text_div {
    text-align: justify;
    text-justify: inter-word;
}

.text_div h2, h2.orange_header {
    color: rgb(231, 150, 0);
    font-weight: 720;
    font-size: 200%;
    text-align: center;
}

.text_div h3 {
    color: #cd7400;
    font-weight: 500;
}

/* TODO: change? */
.centered_bordered_field {
    width: 50vw;
    align-self: center;
    border-style: solid;
    border-width: 2px;
    border-color: #343a40;
    margin: 20px 17vw 20px 17vw;  /* for main_container width 85% and this 50vw it needs 17.5vw margin left-right to be centered */
}

.centered_bordered_field > label {
    font-weight: 600;
    margin-left: 2vw;
    width: 23vw;
}

.hover_orange:hover {
    color: rgb(231, 150, 0) !important;
}

#account_name {
    color: #007bff;
}

/* login form CSS inspired from: https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=simple-login-form */
.login-modal-content {
    pointer-events: auto;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 20px 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.login-form-control, .login-btn {
    min-height: 38px;
    border-radius: 2px;
}

.login-btn {        
    font-size: 15px;
    font-weight: bold;
}

.linklike {
    cursor: pointer;
    color: #007bff !important;
    text-decoration: none !important;
}

.linkLike:hover {
    color: #cd7400 !important;
}

#register, #login{
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
}

#register:hover, #login:hover {
    color: #cd7400;
    text-decoration: none;
}

.requiredField:after {
    content: " *";
    color: red;
}

.grey_link {
    color: #495057;
    text-decoration: none !important;
}

.grey_link:hover {
    color: rgb(231, 150, 0);
    text-decoration: none !important;
}