@charset "UTF-8";

/* basic layout style */
html {
    min-height: 100%;
    position: relative;
}

body {
    background: radial-gradient(#ebebeb, #c5c5c5, #a0a0a0);
	background-size: cover;
	background-attachment: fixed;
}

.main-container {
	background-color: white;
	width: 85%;
    min-height: 96.6vh;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 30px 96px 30px;
}

#footer {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    bottom: 28px;
}

/* headlines.php style */
#logo {
    float: left;
    max-height: 250px;
    max-width: 208px;
    margin-right: 20px;
} 

#title {
    margin-top: 10px;
    float: left;
    word-wrap: break-word;  /* <-- Doesn't work? TODO: make responsive */
}

#slogan {
    float: left;
}

#login_register_div {
    float: right;
    margin: 10px;
    font-size: 125%;
}

#global_search_form {
    float: right;
    margin-bottom: 10px;
}

#global_help {
    margin: 5px 0px 0px 10px;
    clear: left;
    float: right;
    height: 25;
    width: 25;
    cursor: pointer;
}

/* Breadcrump */
.my_breadcrump {
    margin: 20px 0px 20px 0px;
    font-size: 115%;
    font-weight: 600;
}

a.breadcrump_item, p.breadcrump_item {
    color: #343a40;
}

a.breadcrump_item {
    text-decoration: none;
}

p.breadcrump_item {
    color: grey;
}

a:hover.breadcrump_item {
    color: rgb(231, 150, 0);
    cursor: pointer;
    text-decoration: none;
}

.breadcrump_item  {
    display: inline-block;
    margin: 0px 5px 0px 5px;
}

.last_item {
    color: #6fafe3 !important;
}

.last_item:hover {
    color: rgb(231, 150, 0) !important;
}

/* general */
.image_button {
    cursor: pointer;
}

.text_div h2, h2.orange_header {
    color: rgb(231, 150, 0);
    font-weight: 720;
    font-size: 250%;
    text-align: center;
    /*
    text-shadow:
   	    -0px -0px 0 #6e3f00,
  	    0px -0px 0 #6e3f00,
   	    -1px 1px 0 #6e3f00,
        0px 0px 0 #6e3f00;
    */
}

.text_div h3 {
    color: #cd7400;
    font-weight: 500;
}

/* TODO: change? */
.centered_bordered_field {
    width: 50vw;
    align-self: center;
    border-style: solid;
    border-width: 2px;
    border-color: #343a40;
    margin: 20px 17vw 20px 17vw;  /* for main_container width 85% and this 50vw it needs 17.5vw margin left-right to be centered */
}

.centered_bordered_field > label {
    font-weight: 600;
    margin-left: 2vw;
    width: 23vw;
}
