@charset "UTF-8";

.specific_navbar {
    clear: both;
    margin: 20px 0px 20px 0px;
    display: table;
    border-style: solid;
    border-width: 2px;
    border-color: #343a40;
    height: 50vh;
    width: 100%;
}

#options{
    width: 100%;
    height: 50vh;
}

.navbar-specific-item {
    display: table-cell;
    height: 50vh;
    width: 20%; /* 1/5 */
    text-align: center;
    vertical-align: bottom;
}

#student,  #publisher, #secretary, #distribution_point {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#student:hover, #publisher:hover, #secretary:hover, #distribution_point:hover {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(231, 150, 0);
}

#student {
    background-image: url("/sdi1500102_sdi1500165/images/student.jpg");
}

#publisher {
    background-image: url("/sdi1500102_sdi1500165/images/publisher.jpg");
}

#secretary {
    background-image: url("/sdi1500102_sdi1500165/images/secretary.jpg");
}

#distribution_point {
    background-image: url("/sdi1500102_sdi1500165/images/distribution_point.jpg");
}

.icon_title {
    margin-bottom: 2vh;
}

#student_options, #publisher_options, #secretary_options, #distribution_point_options {
    display: none;   /* hidden at start */
    padding: 20px;
}

.specific_navbar h3 {
    color: rgb(231, 150, 0);
    font-weight: bold;
}

.specific_navbar h4 {
    color: rgb(231, 150, 0);
}

.option-list {
    display: table;
    margin: 5vh 0vh 5vh 0vh;
    border-collapse: separate;
    border-spacing: 30px;
}

.option-item {
    display: table-cell;
    width: 280px;
    height: 160px;
    background-image: url("/sdi1500102_sdi1500165/images/generic_option_icon.jpg");  /* default */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    cursor: pointer;
    font-size: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: bottom;
    border-style: solid;
    border-width: 1px;
    border-color: #343a40;
    box-shadow: 0px 0px 3px #343a40;
}

.option-title {
    cursor: pointer;
    margin-bottom: 10px;
}

#book_declaration, #secretary_app {
    background-image: url("/sdi1500102_sdi1500165/images/bookstack_blue.png");
}

#book_exchange {
    background-image: url("/sdi1500102_sdi1500165/images/booktrade_blue.png");
}

#previous_declarations {
    background-image: url("/sdi1500102_sdi1500165/images/previousclock_blue.png");
}

#student_info, #secretary_info {
    background-image: url("/sdi1500102_sdi1500165/images/info_blue.png");
}

#publisher_info, #dist_point_info {
    background-image: url("/sdi1500102_sdi1500165/images/info_orange.png");
}

#register_student, #register_secr  {
    background-image: url("/sdi1500102_sdi1500165/images/register_blue.png");
}

#register_publisher, #register_dist {
    background-image: url("/sdi1500102_sdi1500165/images/register_orange.png");
}

#price {
    background-image: url("/sdi1500102_sdi1500165/images/cost_orange.png");
}

#book_delivery , #publisher_app {
    background-image: url("/sdi1500102_sdi1500165/images/bookstack_orange.png");
}

#back_button {
    display: inline-block;  /* hidden at start */
    margin: 20px;
    cursor: pointer;
}

 /* Text-style */
.navbar-specific-item {
    font-size: 200%;
    line-height: 110%;
    color: white;
    text-shadow:
   	    -1px -1px 0 black,
  	    1px -1px 0 black,
   	    -1px 1px 0 black,
        1px 1px 0 black;
}

/*TODO: keep this or not? (do not delete class either way) */
.add_bg_dark {
    display: inline-block;
    background-color: rgba(241, 241, 241, 0.192);
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #343a40;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #343a40;
    padding-bottom: 8px;
    padding-left: 2vw;
    padding-right: 2vw;
}


.navbar-specific-item:hover > .add_bg_dark {
    color: rgb(236, 172, 54);
}


.option-title {
    font-size: 125%;
    color: #343a40;
    font-weight: 600;
    text-shadow:
   	    -1px -1px 1px white,
  	    1px -1px 1px white,
   	    -1px 1px 1px white,
        1px 1px 1px white;
}

.orange-options-list .option-item:hover {
    text-decoration: none;
    box-shadow: 0px 0px 5px 3px rgb(255, 193, 112);
}

.blue-options-list .option-item:hover {
    text-decoration: none;
    box-shadow: 0px 0px 5px 3px rgb(155, 207, 255);
}

/* TODO: change something to text when hover or too much?
.orange-options-list .option-item:hover > .option-title {
    color: rgb(255, 216, 144);
}

.blue-options-list .option-item:hover > .option-title {
    color: #8fc9ff;
}
*/

#back_button {
    font-size: 200%;
    line-height: 110%;
    color: white;
    text-shadow:
   	    -1px -1px 0 black,
  	    1px -1px 0 black,
   	    -1px 1px 0 black,
        1px 1px 0 black;
}

#back_button:hover {
    color: rgb(236, 172, 54);
}