@charset "UTF-8";

.specific_navbar {
    clear: both;
    margin: 20px 0px 20px 0px;
    display: table;
    border-style: solid;
    border-width: 2px;
    border-color: #343a40;
    height: 50vh;
    width: 100%;
}

.navbar-specific-item {
    display: table-cell;
    height: 50vh;
    width: 16%; /* 1/6 */
    text-align: center;
    vertical-align: bottom; /* <-- does not work as intended! */
    color: whitesmoke;
    font-size: 200%;
    line-height: 110%;
    text-shadow:
   	    -1px -1px 0 #008ed3,
  	    1px -1px 0 #008ed3,
   	    -1px 1px 0 #008ed3,
   	    1px 1px 0 #008ed3;
}

#student,  #publisher, #secretary, #distribution_point, #other{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#student:hover, #publisher:hover, #secretary:hover, #distribution_point:hover, #other:hover {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(231, 150, 0);
}

#student {
    background-image: url("/sdi1500102_sdi1500165/images/student.jpg");
}

#publisher {
    background-image: url("/sdi1500102_sdi1500165/images/publisher.jpg");
}

#secretary {
    background-image: url("/sdi1500102_sdi1500165/images/secretary.jpg");
}

#distribution_point {
    background-image: url("/sdi1500102_sdi1500165/images/distribution_point.jpg");
}

#other {
    background-image: url("/sdi1500102_sdi1500165/images/other.jpg");
}

.icon_title {
    margin-bottom: 2vh;
}
