@charset "UTF-8";

.specific_navbar {
    clear: both;
    margin: 20px 0px 20px 0px;
    display: table;
    border-style: solid;
    border-width: 2px;
    border-color: #343a40;
    height: 50vh;
    width: 100%;
}

#options{
    width: 100%;
    height: 50vh;
}

.navbar-specific-item {
    display: table-cell;
    height: 50vh;
    width: 16%; /* 1/6 */
    text-align: center;
    vertical-align: bottom;
    /* Text-style */
    color: whitesmoke;
    font-size: 200%;
    line-height: 110%;
    text-shadow:
   	    -1px -1px 0 #008ed3,
  	    1px -1px 0 #008ed3,
   	    -1px 1px 0 #008ed3,
   	    1px 1px 0 #008ed3;
}

#student,  #publisher, #secretary, #distribution_point, #other{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#student:hover, #publisher:hover, #secretary:hover, #distribution_point:hover, #other:hover {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(231, 150, 0);
}

#student {
    background-image: url("/sdi1500102_sdi1500165/images/student.jpg");
}

#publisher {
    background-image: url("/sdi1500102_sdi1500165/images/publisher.jpg");
}

#secretary {
    background-image: url("/sdi1500102_sdi1500165/images/secretary.jpg");
}

#distribution_point {
    background-image: url("/sdi1500102_sdi1500165/images/distribution_point.jpg");
}

#other {
    background-image: url("/sdi1500102_sdi1500165/images/other.jpg");
}

.icon_title {
    margin-bottom: 2vh;
}

#student_options, #publisher_options, #secretary_options, #distribution_point_options, #other_options {
    display: none;   /* hidden at start */
    padding: 20px;
}

.specific_navbar h3 {
    color: rgb(231, 150, 0);
    font-weight: bold;
}

.specific_navbar h4 {
    color: rgb(231, 150, 0);
}

.option-list {
    display: table;
    margin: 5vh 0vh 5vh 0vh;
    border-collapse: separate;
    border-spacing: 30px;
}

.option-item {
    display: table-cell;
    width: 280px;
    height: 160px;
    background-image: url("/sdi1500102_sdi1500165/images/generic_option_icon.jpg");  /* default */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    font-size: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: bottom;
    border-style: solid;
    border-width: 1px;
    border-color: #343a40;
    box-shadow: 0px 0px 3px #343a40;
}

.option-item:hover {
    text-decoration: none;
    color:white;
    box-shadow: 0px 0px 3px 2px #008ed3;
}

.option-title {
    color: whitesmoke;
    font-size: 125%;
    text-shadow:
   	    -1px -1px 0 #008ed3,
  	    1px -1px 0 #008ed3,
   	    -1px 1px 0 #008ed3,
           1px 1px 0 #008ed3;
    cursor: pointer;
    margin-bottom: 2vh;
}

#book_declaration {
    background-image: url("/sdi1500102_sdi1500165/images/blue_book_stack.jpg");
}

#book_exchange {
    background-image: url("/sdi1500102_sdi1500165/images/exchange.jpeg");
}

#previous_declarations {
    background-image: url("/sdi1500102_sdi1500165/images/previous.jpg");
}

#student_info {
    background-image: url("/sdi1500102_sdi1500165/images/user_info.jpg");
}

#back_button {
    display: inline-block;  /* hidden at start */
    margin: 20px;
    color: whitesmoke;
    font-size: 200%;
    line-height: 110%;
    text-shadow:
   	    -1px -1px 0 #008ed3,
  	    1px -1px 0 #008ed3,
   	    -1px 1px 0 #008ed3,
           1px 1px 0 #008ed3;
    cursor: pointer;
}

#back_button:hover {
    color: white;
}