@charset "UTF-8";

.general_navbar {
    clear: both;
}

.navbar .nav-link {
    display: inline-block;
    color: whitesmoke;
}

.my_active {
    color: #6fafe3;
}

.navbar .nav-link:hover {
    color: rgb(231, 150, 0);
}

/* show dropdown on hover: */
.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-menu > a {
    color: whitesmoke;
}

.dropdown > .dropdown-menu > a.my_active {
    color: #6fafe3;
}

.dropdown > .dropdown-menu > a:hover {
    color: rgb(231, 150, 0);
    background-color: #343a40;
    background-image: none;
}
