#or {
    margin: 30px 0px 15px 0px;
    font-size: 150%;
}

.option_size {
    width: 30vw;
}

.plus_img {
    display: inline-block;
    height: 150px;
    width: 150px;
}

#classes_list {
    width: 51vw;
    margin: 10px 15vw 30px 15vw;  /* (85 - 51) / 2 = 17 but 15 seems more centered for some reason */ 
}

#classes_list > p {
    margin-bottom: 0px;
}

#classes_list > ol {
    padding: 0px;
}

#classes_list > ol li {
    border-style: solid;
    border-width: 1px;
    border-color: #343a40;
    padding: 10px;
    margin-bottom: 10px;
}

#classes_list > ol li h2, .class_books_div h2 {
    display: inline-block;
    margin-left: 5px;
    color: #297dcc;
    font-weight: 600;
    font-size: 175%;
}

.id_span {
    font-size: 160%;
    font-weight: 500;
}

.field_span {
    display: inline-block;
    width: 50%;
}

#classes_list > ol li label {
    font-weight: 500;   /* 500 does not make any difference and 600 is too much */
    margin-right: 10px;
}

#add_class_form {
    margin-top: 10px;
}

.edit_box, .delete_box {
    display: inline-block;
    float: right;
    margin-left: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#left_class_list {
    padding: 0px;
    list-style-type: none;
    border-style: solid;
    border-width: 2px;
    color: #343a40;
    height: 75vh;
    overflow-y: auto;
}

.left_class_list_item {
    display: block;
    cursor: pointer;
    font-size: 125%;
    font-weight: 500;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #343a40;
    height: 4vh;
}

.left_class_list_item:hover {
    background-color: #79baf0;
}

.class_books_div {
    height: 75vh;
    border-style: solid;
    border-width: 2px;
    border-left-width: 0px;
    border-color: #343a40;
}

.content, #noselection {
    padding: 20px 25px 20px 25px;
    overflow-y: auto;
}

.content ol {
    padding: 0px;
}

.content ol li {
    border-style: solid;
    border-width: 1px;
    border-color: #343a40;
    padding: 10px;
}